:root.theme-dark {
  --bg-image-url: url(/images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image-url: url(/images/cover-image-dark.png);
    --button-color: rgba(255, 0, 112, 1);
  }
}