:root.theme-dark {
  --bg-image-url: url(/images/cover-image-dark.png);
  --border-button-color: rgba(255, 0, 112, 1);
  --text-color: rgba(255, 0, 112, 1);
  
  .header__decorated-zone {
    display: block;
  }
}