.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.header {
  display: grid;
  min-height: 768px;
  height: 100vh;
  margin-bottom: 60px;
  grid-template-rows: max-content;
}

.decorated-zone {
  position: relative;
  overflow: hidden;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--text-color);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
  margin: 20px 20px auto auto;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
  margin: auto auto 20px 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 10px;
  list-style: none;
  margin: 20px auto 0px auto;
  padding: 0px;
}

.header__theme-menu-button {
  min-height: 26px;
  max-width: 70px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding-block: 1.5px;
  padding-inline: 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__decorated-zone {
  display: var(--header-decoration-zone);
  position: absolute;
  justify-self: end;
  align-items: center;
  margin: 22px 47px auto auto;
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.header__decorated-zone::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--border-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin: 8px auto auto 8px;
}

.header__title {
  display: grid;
}

.header__title_text {
  align-self: flex-end;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: var(--h1-size-desktop);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  margin: 0;
}

.header__title_paragraph {
  max-width: 491px;
  justify-self: end;
  align-self: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--title-color-card);
  margin: 0px 20px 0px 0px;
}

.title-decor {
  background-color: var(--accent-color);
}

.main__content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 80px;
}

.main__content_section {
  display: grid;
  margin: auto 20px auto 20px;
}

.main__content_section_title {
  max-width: 315px;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
  margin: 0 0 20px 0;
}

.main__content_section_card {
  display: grid;
  gap: 20px;
}

.card_title {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--title-color-card);
  background-color: var(--accent-color);
  margin: 0px;
}

.card_text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color-card);
  margin: 10px 0px 0px;
}

.text_link {
  color: var(--text-color-card);
  text-decoration: none;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.text_link:hover {
  border-bottom: 1px solid var(--text-color-card);
}

.text_link:focus {
  border: 1px solid var(--text-color-card);
}

.content_section_why {
  grid-template-columns: 1fr 2fr;
}

.content_section_what {
  grid-template-rows: max-content;
}

.section_card_what {
  grid-template-columns: 1fr 1fr 1fr;
}

.content_section_how {
  grid-template-columns: 1fr 2fr;
}

.card_title_section_how {
  font-weight: normal;
}

.gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.gallery_item {
  box-sizing: border-box;
  margin: 0;
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery_item:nth-child(2) {
  grid-column: -2;
  grid-row: span 2;
}

.gallery_item:nth-child(3) {
  grid-column: 1;
  grid-row: span 2;
}

.gallery_item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery_item:nth-child(5) {
  grid-column: span 2;
  grid-row: span;
}

footer {
  display: grid;
  min-height: 768px;
  height: 100vh;
}

.footer_title {
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h1-size-desktop);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width < 1024px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    display: grid;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
    margin: 192px 20px auto auto;
  }

  .header__title_paragraph {
    max-width: 364px;
    max-height: 117px;
  }

  .section_card_what {
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: 1fr;
  }

  .main__content_section_title {
    max-width: 236px;
  }
}

@media (width < 768px) {
  .header {
    min-height: 668px;
    margin-bottom: 40px;
  }

  .decorated-zone::before {
    margin: 10px 10px auto auto;
  }

  .decorated-zone::after {
    margin: auto auto 10px 10px;
  }

  .header__decorated-zone {
    margin: 11px 37px auto auto;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__theme-menu-list {
    margin: 75px 10px auto auto;
  }

  .header__title_text {
    font-size: var(--h1-size-mobile);
    margin: 0px;
  }

  .header__title_paragraph {
    align-self: center;
    justify-self: center;
    margin: auto 10px auto;
  }

  .main__content {
    gap: 50px;
  }

  .main__content_section {
    margin: auto 10px auto 10px;
  }

  .main__content_section_title {
    max-width: max-content;
  }

  .content_section_why,
  .content_section_what,
  .content_section_how {
    grid-template-columns: 1fr;
  }

  .gallery {
    display: block;
    max-height: 5355px;
  }

  .footer {
    max-height: 668px;
  }
}
